header h1{
    background-color: rgb(0, 0, 63);
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 0;
}
main{
  background-color: white;
}
a:link, a:visited {
	text-decoration: none;
  color: black;
}
p{
  text-align: justify;
}
h2{
  text-align: justify;
}
	