body{
  margin:auto;
  padding: auto;
  background-color: black;
  color:white;
  font-size:15px;
  font-family: Arial;

}
#noticias{
  padding: 30px;
  text-align: left;
}
#test{
  border: 1px solid yellow;
  margin-top: 34px;
  padding: 5px;
  background-color: green;
  
}
#noticias div div{
  border:none;
  width: 97%;
  

}

img{
  width: 100%;
  height: 500px;
}